.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f1f1f1;
    z-index: 2000;
}
.footer .footer-right img {
    margin-right: 30px;
    height: 20px;
    width: auto;
}
.footer .footer-left {
    font-size: 13px;
    font-family: Arial, sans-serif;
}