<div class="container">
    <table width="" align="center" cellpadding="0" cellspacing="0" bordercolorlight="#CCCCCC"><!--DWLayoutTable-->
        <tbody>
            <tr>
                <td width="946" align="left" valign="top">
                    <table id="ce_data" class="display dataTable" width="100%" aria-describedby="ce_data_info"
                        style="width: 100%;">
    
                        <thead>
                            <tr role="row">
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Sr. no: activate to sort column ascending"
                                    style="width: 300px;">
                                    <div class="DataTables_sort_wrapper">Journals<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Journals: activate to sort column ascending"
                                    style="width: 110px;">
                                    <div class="DataTables_sort_wrapper">Article No<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Article: activate to sort column ascending"
                                    style="width: 93px;">
                                    <div class="DataTables_sort_wrapper">MSP<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Stage: activate to sort column ascending"
                                    style="width: 86px;">
                                    <div class="DataTables_sort_wrapper">TSP<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending"
                                    style="width: 92px;">
                                    <div class="DataTables_sort_wrapper">Ms Received Date<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Raised By : activate to sort column ascending"
                                    style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">PAP Upload <span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Received Date: activate to sort column ascending"
                                    style="width: 163px;">
                                    <div class="DataTables_sort_wrapper">Copyedit Completion Date<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
    
    
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">Proof to Author<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">Revision Received Date<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">Revision Completed<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">Revision 2 Received Date<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">Revision 2 Completed<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">Delivery to atypon Date<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">CE TAT<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">COMP TAT<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Data: abc" style="width: 90px;">
                                    <div class="DataTables_sort_wrapper">Author TAT<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                    rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"
                                    style="width: 93px;">
                                    <div class="DataTables_sort_wrapper">Revises TAT<span
                                            class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                                </th>
                                <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                                rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"
                                style="width: 93px;">
                                <div class="DataTables_sort_wrapper">Revises 2 TAT<span
                                        class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                            </th>
                            <th class="ui-state-default" role="columnheader" tabindex="0" aria-controls="ce_data"
                            rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending"
                            style="width: 93px;">
                            <div class="DataTables_sort_wrapper">Publish TAT<span
                                    class="DataTables_sort_icon css_right ui-icon ui-icon-carat-2-n-s"></span></div>
                        </th>
                            </tr>
                        </thead>
    
                        <tfoot>
                            <tr>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Sr. no" rel="0"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Journals" rel="1"></span>
                                </th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Article" rel="2"></span>
                                </th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Stage" rel="3"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Status" rel="4"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Raised By" rel="5"></span>
                                </th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Received Date"
                                            rel="6"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
    
    
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                                <th class="ui-state-default" rowspan="1" colspan="1"><span
                                        class="filter_column filter_text"><input type="text"
                                            class="text_filter form-control search_init" value="Action" rel="7"></span></th>
                            </tr>
                        </tfoot>
    
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">1</td>
                                <td class=" ">Gaurav Tripathi</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
    
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">2</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">vvvvvvvvvv</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">iiiiiiiiiii</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
    
                            </tr>
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">3</td>
                                <td class=" ">AELVR</td>
                                <td class=" ">M100022</td>
                                <td class=" ">GHT</td>
                                <td class=" ">RJJJT</td>
                                <!--<td></td> -->
                                <td class=" ">2022-2-02 14:30:43.9</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
    
                            </tr>
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">4</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">5</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">6</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
    
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">7</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
    
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">8</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
    
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">9</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
    
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">10</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
    
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">11</td>
                                <td class=" ">Gaurav</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
    
                            <tr align="center" class="formbold_text odd" bgcolor="#ffffff">
                                <td class=" ">12</td>
                                <td class=" ">ELVR195199</td>
                                <td class=" ">TECHUM100018</td>
                                <td class=" ">CU</td>
                                <td class=" ">Accepted</td>
                                <!--<td></td> -->
                                <td class=" ">2022-07-04 14:30:43.0</td>
                                <!-- <td>ACCEPT</td> -->
                                <td class=" ">0</td>
                                <td class=" ">0</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                                <td class=" ">Demo</td>
                            </tr>
                        
    
    
    
    
    
    
    
                        <!-- <tbody role="alert" aria-live="polite" aria-relevant="all"><tr class="odd"><td valign="top" colspan="17" class="dataTables_empty">No data available in table</td></tr></tbody></table> -->
    
    
    
                       
                        <br>
                        </tbody>
                        </table>
                        </td>
    
    
    
              
            </tr>
            </tbody>
            </table>
</div>
